PORT=3000

MQTT_HOST=mqtt://localhost
MQTT_TOPIC="smarthome/casa01/#"

DB_HOST=SEU_ENDPOINT_RDS.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=SUA_SENHA
DB_NAME=smarthome
DB_SSL=true

AWS_REGION=us-east-1
S3_BUCKET=nome-do-bucket-opcional
